# Ignore all

/.config/*
!/.config/borg
/.config/borg/security
!/.config/borgmatic
!/.config/cron
!/.config/dconf
/.config/dconf/user
!/.config/dunst
!/.config/fcitx5
/.config/fcitx5/conf/cached_layouts
!/.config/fontconfig
!/.config/goldendict
!/.config/guix
/.config/guix/systems/mirror.brielmaier.net.pub
/.config/guix/systems/signing-key.pub
/.config/guix/signing-key.pub
!/.config/mpv
/.config/mpv/watch_later
!/.config/polybar
!/.config/shepherd
!/.config/xsettingsd
!/.config/mimeapps.list
