
.*
config.*
!.doom.d/per-system-settings.el
!.doom.d/start-exwm.sh
!.doom.d/tangle-dotfiles.el
!desktop.org
!emacs-configuration.org
!guix-configurations.org
!mail.org
!manifests.org
!snippets.org
!supermemo_config.org
/Documents/
