[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh ~/.scripts/exwm-launcher.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
